
#sidhuvud {
    background-color: rgb(183, 203, 178);
}
#container {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 10px;
    padding: 30px;
    background-color: rgb(216, 233, 212);
    width: 1200px;
    border: 2px solid rgb(105, 144, 101);
    box-shadow: 2px 4px 6px rgb(55, 79, 56);
}
#container p {
    line-height: 2em;
}
#rubrik a {
    color: rgb(3, 88, 3);
    text-decoration: none;
}

.globalNav a.active { 
    color: rgb(1, 1, 0); 
    text-decoration: none;
    border: 2px solid rgb(49, 81, 50);
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(148, 176, 139);
    box-shadow: 2px 1px 4px 3px rgb(98, 119, 94);
    padding: 15px;
} 

.all img {
    border: 2px solid black;
}