
#sidhuvud {
    background-color: rgb(214, 161, 176);
}
#container {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 10px;
    padding: 30px;
    background-color: rgb(233, 212, 219);
    width: 1200px;
    border: 2px solid rgb(96, 62, 76);
    box-shadow: 2px 4px 6px rgb(93, 35, 46);
}
#container p {
    line-height: 2em;
}
#rubrik a {
    color: rgb(97, 22, 32);
    text-decoration: none;
}

.globalNav a.active { 
    color: rgb(42, 22, 11); 
    text-decoration: none;
    border: 2px solid rgb(134, 9, 71);
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(214, 117, 151);
    box-shadow: 2px 1px 4px 3px rgb(83, 10, 41);
    padding: 15px;
} 