body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
}

#sidhuvud {
    background-color: rgb(194, 186, 176);
    padding: 25px;
}
.globalNav { 
    display: flex; 
    list-style: none; 
    gap: 20px; 
}

.globalNav a { 
    text-decoration: none; 
    color: black;  
    background-color: rgb(248, 243, 241);
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 3px 2px 3px rgb(116, 114, 113);
}

/* Styling för aktiv länk */
.globalNav a.active { 
    color: rgb(42, 22, 11); 
    text-decoration: none;
    border: 2px solid rgb(120, 111, 101);
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(225, 213, 203);
    box-shadow: 2px 1px 4px 3px rgb(73, 54, 46);
    padding: 15px;
} 

#container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 20px;
}
.card {
    background-color: rgb(231, 225, 220);
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    width: 40%;
    box-shadow: 2px 4px 7px rgb(93, 80, 65);
}
.ass-link {
    color: rgb(112, 39, 39);
}

