.globalNav { 
    display: flex; 
    list-style: none; 
    gap: 20px; 
}

.globalNav a { text-decoration: none; 
    color: black; font-weight: bold; 
}
    
.globalNav a.active { 
    color: blue; 
} /* Styling för aktiv länk */
