

#container {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 10px;
    padding: 30px;
    background-color: rgb(230, 225, 220);
    width: 1200px;
    border: 2px solid rgb(110, 110, 110);
    box-shadow: 2px 4px 6px rgb(98, 74, 61);
}
#container h1 {
    color: rgb(107, 88, 77);
}
#container a {
    color: rgb(188, 132, 53);
}