
#sidhuvud {
    background-color: rgb(239, 230, 149);
}

#container {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 10px;
    padding: 30px;
    background-color: rgb(250, 242, 197);
    border: 2px solid rgb(110, 110, 110);
    box-shadow: 2px 4px 6px rgb(98, 74, 61);
}
#container a {
    color: rgb(188, 132, 53);
}
#container p {
    line-height: 2em;
}

.globalNav a.active { 
    color: rgb(42, 22, 11); 
    text-decoration: none;
    border: 2px solid rgb(148, 125, 25);
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(242, 231, 177);
    box-shadow: 2px 1px 4px 3px rgb(136, 108, 16);
    padding: 15px;
} 

#rubrik a {
    text-decoration: none;
    color: rgb(168, 93, 23);
}