#house {
    width: 61%;
    margin: auto;
    margin-top: 3em;
    border: 1px solid rgb(44, 44, 44);
    background-color: rgb(26, 26, 26);
}
.housename {
    color: rgb(154, 4, 4);
    font-size: 30px;
}
.inline-items {
    display: flex;
    justify-content: space-between;
}

.goBack {
    color: rgb(190, 5, 5);
}