#sidhuvud {
    background-color: rgb(227, 219, 175);
}

#rubrik a {
    color: rgb(8, 31, 148);
}
#rubrik a:hover {
    font-size: 17px;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgb(105, 104, 105);
}

.globalNav a.active { 
    color: rgb(1, 1, 0); 
    text-decoration: none;
    border: 2px solid rgb(86, 81, 81);
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(229, 196, 165);
    box-shadow: 2px 1px 3px 2px rgb(190, 130, 80);
    padding: 15px;
} 
.globalNav a:hover {
    font-size: 19px;
}


.play-btn {
    background-color: rgb(166, 207, 164);
    padding: 10px;
    border-radius: 13px;
    font-size: 17px;
}
#match1 {
    margin: 20px;
    width: 33%;
}
div.match {
    gap: 10px;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(251, 243, 232);
}
div h5 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(173, 10, 10);
}

.winner {
    background-color: rgb(198, 229, 201);
    border: 1px solid green;
    border-radius: 5px;
    padding-left: 10px;
}
.loser {
    color: rgb(124, 124, 124);
}